* {
    margin: 0 auto;
    font-family: "Courier New", Courier, monospace;
}

#Logo {
    display: flex;
    max-width: 150px;
    height: auto;
    padding-top: 1em;
    align-content: center;
    justify-content: center;
    padding-left: 0;
    padding-bottom: 1em;
}

#Motto {
    display: flex;
    padding-bottom: .5em;
    align-content: center;
    justify-content: center;
    text-align: center;
}

img {
    width: 100%;
    border-radius: 10px;
}

h1 {
    padding: 5px;
    position: absolute;
    top: -1200px;
    color: #c9c9c9;
}

nav ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

nav li {
    min-height: 45px;
    height: auto;
    min-width: 100px;
    width: 100%;
    border: solid goldenrod;
    background: #141414;
    /*88888a*/
    border-radius: 1px;
    border-radius: 5px;
}

nav a {
    min-height: 50px;
    line-height: 50px;
    padding: 0;
    font-size: 1.12em;
    text-decoration: none;
    display: flex;
    justify-content: center;
    color: goldenrod;
    /*#6f1206*/
    border-radius: 1px;
    font-weight: bold;
}

section {
    background-color: #212121;
    color: #c9c9c9;
    padding: 1em;
    padding-top: 0;
}

p {
    padding-bottom: 1em;
}

footer {
    padding-left: 1em;
    background-color: #212121;
    color: #c9c9c9;
    font-size: 0.75em;
}

#discord {
    max-width: 200px;
    height: auto;
}

#facebookLogo {
    max-width: 200px;
    height: auto;
}

#emailLogo {
    max-width: 200px;
    height: auto;
}

#TwitterLogo {
    max-width: 200px;
    height: auto;
}

#DnD {
    max-width: 45%;
    border-radius: 0;
}

.banner{
    display: none;
}

/* Table Stuff */

table tr th {
	border: 2px solid black;
	
}


@media (min-width:800px) {
    #MainNav {
        position: sticky;
        top: 0;
        background: #212121;
        padding-bottom: 1px;
    }
    nav li {
        width: 19%;
    }
    nav li :hover {
        background-color: goldenrod;
        color: #141414;
        border-radius: 2px;
    }
    body {
        background: #b81d0b;
        max-width: 1200px;
        margin: 0 auto;
    }

    .left {
        left: 0px;
    }
    .top{
        top:0;
    }
    .middle{
        height: 100%;
        top:19%;
    }
    .right {
        right: 0px;
    }
    .bottom{
        bottom: 0;
        height: auto;
    }
    .banner{
        display: block;
        max-width: 160px;
        border-radius: 0;
        z-index: -999;
        position: fixed;
    }
}
